@media only screen and (max-width: 767px) {
  .navbar-area {
    padding-top: 20px;
  }
  .navbar-menu .burger-menu {
    border-color: #000000;
  }
  .navbar-menu .burger-menu span {
    background: #000000;
  }
  .main-banner {
    height: 100%;
    padding-top: 160px;
    padding-bottom: 140px;
  }
  .main-banner::before {
    display: none;
  }
  .main-banner-content {
    text-align: center;
    max-width: 100%;
  }
  .main-banner-content #timer div {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-banner-content #timer div::before {
    display: none;
  }
  .main-banner-content #timer div span {
    text-transform: capitalize;
    margin-top: -4px;
  }
  .main-banner-content h1 {
    font-size: 28px;
    line-height: 1.3;
  }
  .main-banner-content p {
    margin-top: 14px;
    font-size: 13px;
    max-width: 100%;
  }
  .main-banner-content .newsletter-form {
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-content .newsletter-form .input-newsletter {
    height: 55px;
    font-size: 14.5px;
  }
  .main-banner-content .newsletter-form button {
    position: relative;
    height: auto;
    line-height: initial;
    padding: 15px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .main-banner-image {
    left: 0;
    bottom: 0;
    margin-top: 50px;
  }
  .sidebar-modal .sidebar-modal-inner {
    width: 100%;
    padding: 30px;
  }
  .sidebar-modal .sidebar-modal-inner .close-btn {
    right: 20px;
    top: 14px;
    font-size: 20px;
  }
  .sidebar-modal .about-area {
    margin-bottom: 30px;
  }
  .sidebar-modal .about-area .title h2 {
    font-size: 20px;
  }
  .sidebar-modal .about-area .title p {
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.8;
  }
  .sidebar-modal .contact-area .title {
    margin-bottom: 20px;
  }
  .sidebar-modal .contact-area .title h2 {
    font-size: 20px;
  }
  .sidebar-modal .contact-area .contact-form {
    max-width: 100%;
  }
  .sidebar-modal .contact-area .contact-info {
    margin-top: 35px;
  }
  .sidebar-modal .contact-area .contact-info .contact-info-content h3 {
    font-size: 17px;
    line-height: 1.4;
  }
  .sidebar-modal .contact-area .contact-info .contact-info-content h2 {
    font-size: 22px;
  }
  .sidebar-modal .contact-area .contact-info .contact-info-content h2 span {
    font-size: 13px;
  }
  .footer-area {
    right: 0;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-banner .container-fluid {
    max-width: 540px;
  }
  .main-banner-content h1 {
    font-size: 32px;
  }
  .main-banner-content #timer div {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-banner-content #timer div::before {
    display: block;
    right: -28px;
    top: -9px;
    font-size: 45px;
  }
  .main-banner-content p {
    font-size: 13.5px;
  }
  .main-banner-content .newsletter-form button {
    position: absolute;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    font-size: 14px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-menu .burger-menu {
    border-color: #000000;
  }
  .navbar-menu .burger-menu span {
    background: #000000;
  }
  .main-banner {
    height: 100%;
    padding-top: 160px;
    padding-bottom: 145px;
  }
  .main-banner::before {
    display: none;
  }
  .main-banner .container-fluid {
    max-width: 720px;
  }
  .main-banner-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-content p {
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-content .newsletter-form {
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-image {
    left: 0;
    bottom: 0;
    margin-top: 50px;
  }
  .sidebar-modal .sidebar-modal-inner {
    width: 85%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .sidebar-modal .about-area .title h2 {
    font-size: 24px;
  }
  .sidebar-modal .contact-area .title h2 {
    font-size: 24px;
  }
  .footer-area {
    right: 0;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-menu .burger-menu {
    border-color: #000000;
  }
  .navbar-menu .burger-menu span {
    background: #000000;
  }
  .main-banner::before {
    display: none;
  }
  .main-banner .container-fluid {
    max-width: 960px;
  }
  .main-banner-content {
    max-width: 100%;
    margin-left: 0;
  }
  .main-banner-image {
    left: 0;
    bottom: 0;
  }
  .sidebar-modal .sidebar-modal-inner {
    width: 60%;
  }
}
@media only screen and (min-width: 1610px) {
  .main-banner::before {
    right: 0;
  }
  .main-banner-content {
    max-width: 674px;
    margin-left: auto;
  }
}