
@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.5s;
}
a:hover, a:focus {
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;
}

.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

img {
  max-width: 100%;
}

/*================================================
Preloader CSS
=================================================*/
.preloader-deactivate {
  display: none;
}

.preloader {
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 9999999;
  background-color: #171cbc;
}
.preloader .loader {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  transform: translateY(-45%);
}
.preloader .loader .loader-outter {
  position: absolute;
  border: 4px solid #ffffff;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader .loader-inner {
  position: absolute;
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@keyframes loader-outter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*================================================
Navbar CSS
=================================================*/
.navbar-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  padding-top: 30px;
}

.navbar-menu {
  text-align: right;
}
.navbar-menu .logo {
  text-align: left;
}
.navbar-menu .logo a {
  display: inline-block;
}
.navbar-menu .burger-menu {
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding-top: 13px;
  padding-right: 10px;
  transition: 0.5s;
}
.navbar-menu .burger-menu span {
  display: block;
  width: 20px;
  height: 2px;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-left: auto;
  transition: 0.5s;
}
.navbar-menu .burger-menu span:last-child {
  margin-bottom: 0;
}
.navbar-menu .burger-menu span:nth-child(2), .navbar-menu .burger-menu span:nth-child(3) {
  width: 23px;
}
.navbar-menu .burger-menu:hover span {
  width: 23px !important;
}

/*================================================
Main Banner CSS
=================================================*/
.main-banner {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}
.main-banner::before {
  content: "";
  position: absolute;
  right: -200px;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url(../images/color-shape.png);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner-content {
  max-width: 640px;
  margin-left: auto;
}
.main-banner-content #timer {
  margin-bottom: 15px;
}
.main-banner-content #timer div {
  display: inline-block;
  color: #000000;
  text-align: center;
  position: relative;
  margin-left: 32px;
  margin-right: 32px;
  font-size: 50px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}
.main-banner-content #timer div span {
  display: block;
  text-transform: capitalize;
  margin-top: -8px;
  color: #1e1b1b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.main-banner-content #timer div:last-child {
  margin-right: 0;
}
.main-banner-content #timer div:last-child::before {
  display: none;
}
.main-banner-content #timer div:first-child {
  margin-left: 0;
}
.main-banner-content #timer div::before {
  content: ":";
  position: absolute;
  right: -39px;
  top: -16px;
  font-size: 60px;
  color: #000000;
}
.main-banner-content h1 {
  margin-bottom: 0;
  font-size: 55px;
  font-weight: 700;
}
.main-banner-content p {
  color: #666666;
  line-height: 1.8;
  max-width: 600px;
  margin-top: 15px;
  margin-bottom: 0;
}
.main-banner-content .newsletter-form {
  margin-top: 28px;
  position: relative;
  max-width: 480px;
}
.main-banner-content .newsletter-form .input-newsletter {
  display: block;
  width: 100%;
  border-radius: 30px;
  height: 60px;
  font-size: 15px;
  border: none;
  background-color: #ffffff;
  transition: 0.5s;
  outline: 0;
  color: #000000;
  padding-left: 20px;
  box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.15);
}
.main-banner-content .newsletter-form .input-newsletter::-moz-placeholder {
  color: #666666;
}
.main-banner-content .newsletter-form .input-newsletter::placeholder {
  color: #666666;
}
.main-banner-content .newsletter-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  line-height: 60px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: #171cbc;
  border: none;
  transition: 0.5s;
  outline: 0;
  color: #ffffff;
  border-radius: 33px;
  padding: 0 30px;
  box-shadow: 0 5px 28.5px 1.5px rgba(127, 74, 162, 0.25);
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.main-banner-content .newsletter-form button:hover {
  color: #ffffff;
  background-color: #d3bf08;
}
.main-banner-content .newsletter-form #validator-newsletter {
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: -31px;
  color: #000000;
}
.main-banner-content .newsletter-form #validator-newsletter.validation-danger {
  color: red;
}

.main-banner-image {
  position: relative;
  text-align: center;
  left: -75px;
  bottom: -10px;
}

/*================================================
Footer CSS
=================================================*/
.footer-area {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-area ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.footer-area ul li {
  display: inline-block;
  color: #000000;
  margin-right: 3px;
}
.footer-area ul li span {
  display: inline-block;
  margin-right: 5px;
  color: #171cbc;
  font-size: 15px;
  font-weight: 500;
}
.footer-area ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #2b4a90;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 29px;
  font-size: 12.5px;
  border: 1px solid #eeeeee;
}
.footer-area ul li a:hover {
  background-color: #171cbc;
  color: #ffffff;
  border-color: #171cbc;
  box-shadow: rgba(40, 47, 119, 0.57) 0px 12px 24px -10px;
  transform: translateY(-3px);
}

/*================================================
Sidebar Modal CSS
=================================================*/
.sidebar-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  overflow: hidden;
}
.sidebar-modal .sidebar-modal-inner {
  position: absolute;
  right: -100%;
  top: 0;
  width: 40%;
  overflow-y: scroll;
  height: 100%;
  background-color: #ffffff;
  transition: 0.7s;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
.sidebar-modal .sidebar-modal-inner .close-btn {
  display: inline-block;
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 25px;
  transition: 0.5s;
  color: #000000;
  opacity: 0.66;
  cursor: pointer;
}
.sidebar-modal .sidebar-modal-inner .close-btn:hover {
  opacity: 1;
}
.sidebar-modal .about-area {
  margin-bottom: 40px;
}
.sidebar-modal .about-area .title h2 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}
.sidebar-modal .about-area .title p {
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.7;
  color: #333333;
}
.sidebar-modal .contact-area .title {
  margin-bottom: 25px;
}
.sidebar-modal .contact-area .title h2 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}
.sidebar-modal .contact-area .contact-form {
  max-width: 500px;
}
.sidebar-modal .contact-area .contact-form form .form-control {
  height: 45px;
  border: none;
  box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.15);
  background-color: #ffffff;
  font-size: 13.5px;
  padding-left: 15px;
  color: #000000;
}
.sidebar-modal .contact-area .contact-form form textarea.form-control {
  height: auto;
  padding-top: 10px;
}
.sidebar-modal .contact-area .contact-form form button {
  margin-top: 10px;
  border: none;
  background-color: #d3bf08;
  outline: 0;
  color: #ffffff;
  transition: 0.5s;
  border-radius: 30px;
  box-shadow: 0 5px 28.5px 1.5px rgba(0, 0, 0, 0.3);
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 11px;
}
.sidebar-modal .contact-area .contact-form form button:hover {
  color: #ffffff;
  background-color: #171cbc;
}
.sidebar-modal .contact-area .contact-form form .help-block ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.sidebar-modal .contact-area .contact-form form .help-block.with-errors ul {
  color: red;
  margin-top: 7px;
  font-size: 14px;
}
.sidebar-modal .contact-area .contact-form form #msgSubmit {
  margin-bottom: 0;
  font-size: 20px;
}
.sidebar-modal .contact-area .contact-form form #msgSubmit.text-danger {
  margin-top: 8px;
}
.sidebar-modal .contact-area .contact-form form #msgSubmit.text-success {
  margin-top: 8px;
}
.sidebar-modal .contact-area .contact-info {
  text-align: center;
  margin-top: 50px;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h2 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h2 a {
  display: inline-block;
  color: #171cbc;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h2 a:hover {
  color: #d3bf08;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h2 a:not(:first-child) {
  color: #000000;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h2 a:not(:first-child):hover {
  color: #171cbc;
}
.sidebar-modal .contact-area .contact-info .contact-info-content h2 span {
  display: block;
  color: #57647c;
  margin-top: 8px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
}
.sidebar-modal .contact-area .contact-info .contact-info-content .social {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 20px;
}
.sidebar-modal .contact-area .contact-info .contact-info-content .social li {
  display: inline-block;
  margin: 0 3px;
}
.sidebar-modal .contact-area .contact-info .contact-info-content .social li a {
  width: 35px;
  height: 35px;
  line-height: 33px;
  border: 1px solid #dadada;
  border-radius: 50%;
  color: #aba5a5;
  display: block;
}
.sidebar-modal .contact-area .contact-info .contact-info-content .social li a i {
  font-size: 14px;
}
.sidebar-modal .contact-area .contact-info .contact-info-content .social li a:hover {
  color: #ffffff;
  border-color: #171cbc;
  background-color: #171cbc;
}
.sidebar-modal.active {
  opacity: 1;
  visibility: visible;
}
.sidebar-modal.active .sidebar-modal-inner {
  right: 0;
}
.spinner {
  stroke: #fff;
  stroke-linecap: round;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
button {
  position: relative;
}
.btn-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
